body {
  background: #fff;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stripes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.stripe {
  position: relative;
  margin: 0 1px;
  border-radius: 999px;
  animation: motion 3s ease-in-out infinite alternate;
  
  &::before {
    content: '';
    position: absolute;
    bottom: calc(-100% - 1px);
    height: 100%;
    width: 100%;
    background: #000;
    border-radius: 999px;
  }
  
  &::after {
    content: '';
    position: absolute;
    bottom: calc(-200% - 2px);
    height: 100%;
    width: 100%;
    background: #000;
    border-radius: 999px;
  }
  
  @for $i from 1 through 200 {
    &:nth-child(#{$i}) {
      width: random(20) + 0.1vw;
      height: random(50) + 30%;
      $r: random(100);
      $g: random(100) + 155;
      $b: random(100) + 155;
      background: rgb($r, $g, $b);
      animation-delay: $i * 10ms;
      
      &::before {
        background: rgb($r + 100, $g + 50, $b);
      }
      
      &::after {
        background: rgb($r, $g, $b);
      }
    }
  }
}

@keyframes motion {
  0% {
    transform: translateY(0);
  }
  
  100% {
    transform: translateY(-200%);
  }
}